/**
 * this is the main CSS file
 * all other non-library CSS should be imported here
 * and not linked-to in the HTML
 **/

 h2 {
     font-size: 38px;
 }
 h3 {
    font-size:20px;
 }

 h1, h2, h3, h4, h5, h6 {
     font-weight: bold; 
 }

body {
    background: radial-gradient(ellipse at center, #ffffff 55%,#22abd5 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

.main {
    background: #fff;
}

.form-control {
    border-radius: 0;
}

.shadow-lft {
    box-shadow: -5px -5px 26px 0px black;
}
.shadow-rgt-bt { 
    box-shadow: 2px 3px 15px black;
}

.shadow-lft-btn {
    box-shadow: -5px 5px 20px -3px black;
}
.bg-blue {
    background: #19a6d3;
}

.pd-lr-5px {
    padding-left: 5px;
    padding-right: 5px; 
}

header {
    background: #272828;
}


nav {
    & > ul {
        list-style-type: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        & > li {
            margin: 0 15px;
            display: inline-block;
            & > a {
                color: white;
                font-size: 15px;
                padding: 20px 15px;
                display: inline-block;
                font-weight: bold;
                &:hover {
                    color: white;
                }
            }
        }
    }
}




.left-bar {
    position: relative;
    background: #484a49;
    padding: 0 15px;
    & > .logo-box {
        position: absolute;
        top: -61px;
        left: 57px;
        background: #18a6d1;
        border-radius: 0 0 60px 60px;
        width: 293px;
        padding: 20px;
        margin: 0 auto;
        box-shadow: 11px 11px 31px 0px black;
        & > img {
            width: 252px;
            display: block;
            margin: 0 auto;
        }
    }
    & > .form-top-text {
        text-align: center;
        margin-top: 120px;
    }
    & > form label {
        height: 10px;
    }
    & > form select {
        padding: 0;
    }
    & > form .button-box {
    }
    & > form .btn-form {
        background-color: #18a6d1;
        border-radius: 10px;
        color: white;
        display: block;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
        font-weight: bold;
        padding: 13.5px 35px;
        text-decoration: none;
        margin: 10px auto 20px;
        cursor: pointer;
        font-size: 28px;
    }
}







.right-bar {
    position: relative;
}

.content-header-baner-box {
    position: absolute;
    left: 15px;
    right: 15px;
    top: -15px;
    text-align: center;
    & > h1 {
        font-weight: bold;
        text-shadow: -3px 1px 1px black;
    }
}

.content-box {

}

.tariff-box {
    text-align: center;
    margin-top: 75px;
}

.tariff {
    border-radius: 20px;
    padding-top: 10px;
    & > h3 {
        font-size: 18px;
        margin: 0;
    }
    & > .tariff-img {
        display: block;
        margin: 10px auto 10px;
        width: 100%;
        & > img {
            width: 70%;
        }
    }
    & > .tariff-text {
        color: black;
        font-weight: bold;
        text-decoration: underline;
    }
}

.video-header {
    border-radius: 4px;
    margin: 35px 0 25px;
    overflow: hidden;
    & > p {
        line-height: 53px;
        color: rgb(0,0,0);
        font-size: 46px;
        margin: 10px 0 5px;
        font-family: 'Lobster', cursive;
        text-shadow: -2px -1px 0 white;
        text-align: center;
    }
}
.video-box {
    width: 80%;
    margin: 0 auto;
}

.fbvideo {
    border:none;
    overflow:hidden; 
    width:35vw;
    display: block;
    height:20vw ;
    margin: 0 auto;
}

.video-text {
    text-align: center;
    color: black;
    font-size: 10px;
}




.about {
    padding: 10px 100px 100px 180px;
    font-size: 23px;
    line-height: 29px;
    font-weight: 500;
    background: 
        url(../images/star-1.png) 5px 20px no-repeat,
        url(../images/star-2.png) right 20px no-repeat;
    background-color: #272928;
    background-size: 20%;
}
.about-title-box {
    
}
.about-title {
    line-height: 73px;
    text-align: center;
    color: rgb(24,166,209);
    margin-bottom: 45px;
    font-size: 76px;
    font-family: 'Lobster', cursive;
    
}
.about-text {
    margin-bottom: 35px;
}


.footer {
    background: #2d2d35;
    padding: 50px 10px 5px 90px;

}